__pycache__/
node_modules
.venv/
.aider*
# Prefect
.prefect/
# FastAPI
instance/
*.db
*.sqlite3
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Icon must end with two \r
Icon
# Python
*.pyc
*.pyo
*.pyd


# data
data/
*.csv
*.parquet
*.sqlite
*.db
*.pkl
*.pickle

# logs
logs/

# .env
.env

public/
static/
